.progress {
    display: flex;
    height: 16px;
    overflow: hidden;
    font-size: 12px;
    background: #e9ecef;
    border-radius: 4px;
    margin: 10px 0;

    &>.bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        background: make_color('default');
        transition: width 0.6s ease;
    }

    @each $maps,
    $name in $all_colors {

        @each $key,
        $value in $name {
            &.#{$key} {
                &>.bar {
                    background: $value;
                }
            }
        }
    }
}