.spinner {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 3px solid currentColor;
    border-radius: 50%;
    border-right: 3px solid transparent;
    animation: spinner_loader 1.3s linear infinite;
    vertical-align: text-bottom;
    border-collapse: collapse;

    // size 
    &.x1 {
        width: 20px;
        height: 20px;
    }

    &.x2 {
        width: 24px;
        height: 24px;
    }

    &.x3 {
        width: 28px;
        height: 28px;
    }

    &.x4 {
        width: 32px;
        height: 32px;
    }

    &.x5 {
        width: 36px;
        height: 36px;
        border: 4px solid currentColor;
        border-right: 4px solid transparent;
    }

    &.x6 {
        width: 40px;
        height: 40px;
        border: 4px solid currentColor;
        border-right: 4px solid transparent;
    }

    &.x7 {
        width: 44px;
        height: 44px;
        border: 4px solid currentColor;
        border-right: 4px solid transparent;
    }

    &.x8 {
        width: 48px;
        height: 48px;
        border: 4px solid currentColor;
        border-right: 4px solid transparent;
    }

    &.x9 {
        width: 52px;
        height: 52px;
        border: 4px solid currentColor;
        border-right: 4px solid transparent;
    }


    // style 
    &.dotted {
        border-style: dotted;
    }

    &.double {
        border-style: double;
    }

    &.dashed {
        border-style: dashed;
    }

    &.groove {
        border-style: groove;
    }

    &.inset {
        border-style: inset;
    }

    &.outset {
        border-style: outset;
    }

    &.ridge {
        border-style: ridge;
    }
}

@keyframes spinner_loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}