.content_wrap {
    width: 100%;
    padding: 15px;
    padding-top: 85px;
    padding-left: calc(15px + var(--aside));
    transition: $transition;
    &.active {
        width: 100% !important;
        padding-left: 15px;
    }
    @media (max-width: 768px) {
        width: 100% !important;
        padding-left: 15px;
    }
}