.modal_mask {
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	transition: opacity .3s ease;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	display: none;
	animation-duration: 0.3s;
	animation-timing-function: ease;
	user-select: none;
    overflow-y: auto;
	.modal_container {
		width: 100%;
        min-height: 100vh; 
		// height: 100%;
		background: #fff;
		transition: all 0.3s ease;
		animation-duration: 0.4s;
		animation-timing-function: ease;
		.modal_header {
			position: sticky;
			top: 0;
			width: 100%;
			// max-width: 700px;
			box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.1);
			height: 50px;
			z-index: 6;
			background-color: #fff;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.modal_title {
				font-size: 22px;
				padding: 0 10px;
				font-weight: bold;
			}
			.modal_close {
				width: 50px;
				height: 50px;
				right: 0;
				font-size: 35px;
				background: #fafafa;
				transition: all 0.3s ease-in-out;
				border: none;
				display: flex;
				justify-content: center;
				align-items: center;
				&:hover {
					background: #eaeaea;
				}
			}
		}
		.modal_body {
			position: relative;
			padding: 0 10px;
			// margin-top: 50px;
			// height: calc(100vh - 50px);
            min-height: 150px;
            // max-height: calc(100vh - 50px);
		}
        // .modal_sm,
        // .modal_md,
        // .modal_lg {
        //     &.modal_body {
        //         max-height: calc(100vh - 100px);
        //     }
        // }

        &.modal_sm {
            min-height: unset;
            max-width: 500px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
		&.modal_md {
            min-height: unset;
            max-width: 700px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
		&.modal_lg {
            min-height: unset;
            max-width: 1100px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
	}
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.preload_container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	.preload_text {
		color: #333333;
		margin-bottom: -100px;
		text-align: center;
		font-size: 25px;
		font-weight: 400;
		font-family: 'arial';
		user-select: none;
	}
	.preload_wrapper {
		position: relative;
		margin-top: -35px;
		display: flex;
		justify-content: center;
		align-items: center;
		.preload {
			height: 50px;
			width: 50px;
			position: absolute;
			animation: preload_anim 3.4s linear infinite;
			.dot {
				height: 7px;
				width: 7px;
				top: 30px;
				background: #333333;
				border-radius: 50%;
				position: relative;
			}
			&:nth-child(1) {
				animation-delay: 0.15s;
			}
			&:nth-child(2) {
				animation-delay: 0.3s;
			}
			&:nth-child(3) {
				animation-delay: 0.45s;
			}
			&:nth-child(4) {
				animation-delay: 0.6s;
			}
			&:nth-child(5) {
				animation-delay: 0.75s;
			}
			&:nth-child(6) {
				animation-delay: 0.9s;
			}
		}
	}
}


@keyframes preload_anim {
    30% {
        transform: rotate(220deg);
    }

    40% {
        transform: rotate(450deg);
    }

    75% {
        transform: rotate(720deg);
        opacity: 1;
    }

    76% {
        opacity: 0;
    }

    100% {
        transform: rotate(0deg);
        opacity: 0;
    }
}

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2015 Daniel Eden
*/
.animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.animated-fast {
    animation-duration: .2s;
    animation-fill-mode: both
}

.ftco-animated {
    animation-duration: .5s;
    animation-fill-mode: both
}

.animated.infinite {
    animation-iteration-count: infinite
}

.animated.hinge {
    animation-duration: 2s
}

.animated.bounceIn,
.animated.bounceOut {
    animation-duration: .75s
}

.animated.flipOutX,
.animated.flipOutY {
    animation-duration: .75s
}


@keyframes fadeIn {
    from {
        opacity: 0;
        visibility: hidden;
        transform: scale(0.95)
    }

    to {
        opacity: 1;
        visibility: visible;
        transform: scale(1)
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translate3d(0, -50px, 0)
    }

    to {
        opacity: 1;
        visibility: visible;
        transform: none
    }
}

.fadeInDown {
    animation-name: fadeInDown
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translate3d(-50px, 0, 0)
    }

    to {
        opacity: 1;
        visibility: visible;
        transform: none
    }
}

.fadeInLeft {
    animation-name: fadeInLeft
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translate3d(0, 40px, 0)
    }

    to {
        visibility: visible;
        opacity: 1;
        transform: none
    }
}

.fadeInUp {
    animation-name: fadeInUp
}

@keyframes zoomOut {
    from {
        opacity: 1
    }

    50% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3)
    }

    to {
        opacity: 0
    }
}

.zoomOut {
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
        visibility: visible
    }

    to {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0)
    }
}

.fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown
}

@keyframes fadeOutLeft {
    from {
        opacity: 1
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

.fadeOutLeft {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft
}

@keyframes fadeOutRight {
    from {
        opacity: 1
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}

.fadeOutRight {
    -webkit-animation-name: fadeOutRight;
    animation-name: fadeOutRight
}