*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Roboto,Helvetica Neue,sans-serif;
    background: #F6F7F9;
}

/* Make nerrow and custom color scrollbar */
::-webkit-scrollbar {
    /* scrollbar width */
    width: 8px;
    height: 0px;
}

::-webkit-scrollbar-track {
    /* scrollable area background */
    background: #262f3d;
}

::-webkit-scrollbar-thumb {
    /* Make scroller thumb or scroll controller background */
    background-color: #929292;
    border-radius: 8px;
    border: 1px solid #262f3d;
}

::-webkit-scrollbar-thumb:hover {
    /* scroll controller hoverd background */
    background: #a0a098;
}

::-webkit-scrollbar-thumb:active {
    /* scroll controller active background */
    background: #646461;
}
a {
    text-decoration: none;
}
/* ------------------------------------ */ 
@import "mixin/variable";
@import "mixin/function";

$z_all: 99999;
$aside_width: 256px;
.aside {
    width: $aside_width;
    height: 100vh;
    background-color: #051E34;
    background-image: url('../image/nav_bg.png');
    background-repeat: no-repeat;
    background-position: left 0 bottom 0;
    background-size: $aside_width 70vh;
    background-attachment: fixed;
    position: fixed; 
    top: 0;
    left: 0;
    & .top {
        width: $aside_width;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        background-color: #051E34;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: #193044;
        }
    }
    & .aside_content {
        color: #fff;
        overflow-y: auto;
        height: calc(100vh - 50px);
        &::-webkit-scrollbar-track {
            background: transparent;
        }
    }
}