.popup_wrap {
  width: 100%;
  height: 100%;
  z-index: 1009;
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  & .popup {
    background: #fff;
    width: 100%;
    max-width: 500px;
    & .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      border-bottom: 1px solid #ddd;
      & * {
        margin: 0;
      }
      & .close {
        display: inline-block;
        padding: 5px;
        cursor: pointer;
        font-size: 25px;
      }
    }
  }
  & .body {
    padding: 10px;
  }
}