/* color variable */
:root { 
   @each $maps, $name in $all_colors { 
      @each $key, $value in $name {
         --#{$key}: #{$value};
      }
   }
}

/* background class */
@each $maps, $name in $general_colors { 
   @each $key, $value in $name {
      .bg\:#{$key} {
         background: #{$value};
      }
   }
}

.bg\:white {
   background: white;
}

.bg\:transparent,
.bg_none {
   background: transparent !important;
}

/* color class */
@each $maps, $name in $general_colors { 
   @each $key, $value in $name {
      .color\:#{$key} {
         color: #{$value};
      }
   }
}

.color\:white {
   color: white;
}