/*dropdown start*/
.drop_container {
    position: relative;
    display: inline-block;
}
.drop_container .drop {
    margin: 0 !important;
    position: relative;
    &:before {
        content: "";
        display: block;
        background: transparent;
        z-index: 9;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}
.drop_element {
    position: absolute;
    top: 100%;
    // left: 0;
    &.drop_right {
        right: 0 !important;
    }
    &.drop_left {
        left: 0 !important;
    }
    background: #fff;
    min-width: 200px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
    opacity: 0;
    transform: scale(0);
    transform-origin: center top;
    transition: all 0.4s cubic-bezier(0.34, 1.61, 0.7, 1);
    // transition: all 0.4s cubic-bezier(0.51,-0.13, 0, 2.04);
    // transition: all 0.3s cubic-bezier(0.34, 1.61, 0.7, 1);
    z-index: 999999;
}

.drop_element li {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    & a {
        transition: all 0.3s ease-in-out;
        padding: 10px 10px;
        display: block;
        color: #333333;
        & i {
            padding-right: 8px;
        }
        &:hover {
            padding-left: 15px;
            background: #eee;
        }
    }
}

.drop_container.active .drop_element {
    opacity: 1 !important;
    transform: scale(1);
}
