/*/////////////////////////////*/
/*[ REBOOT SOME DEFULT STYLE ]*/
/*///////////////////////////*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
 
}
button:focus {
  outline: none;
}
a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

/* ------------------------------------ */
/* Make nerrow and custom color scrollbar */
::-webkit-scrollbar {
  /* scrollbar width */
  width: 8px;
}

::-webkit-scrollbar-track {
  /* scrollable area background */
  // background: #272822;
  background: #e9ecef;
}

::-webkit-scrollbar-thumb {
  /* Make scroller thumb or scroll controller background */
  background: #646461;
}

::-webkit-scrollbar-thumb:hover {
  /* scroll controller hoverd background */
  background: #a0a098;
}

::-webkit-scrollbar-thumb:active {
  /* scroll controller active background */
  background: #646461;
}

/* ------------------------------------ */


.btn:focus
.btn:active
 {
  box-shadow: none;
}

.page-link:focus {
  box-shadow: none;
}

.ml-auto {
  margin-left: auto;
}