// :root{
// 	/*color start*/
// 	--default_color:#2BBBAD;
// 	--primary_color:#4285F4;
// 	--secondary_color:#AA66CC;
// 	--success_color:#4ac375;
// 	--info_color:#33B5E5;
// 	--warning_color:#FFBB33;
// 	--danger_color:#FF3547;


// 	--light_green_color:#8BC34A;
// 	--pink_color:#EC407A;
// 	--purple_color:#8E24AA;
// 	--deep_purple_color:#512DA8;
// 	--dark_green_color:#388E3C;
// 	--yellow_color:#FBC02D;
// 	--grey_color:#78909C;
// 	--brown_color:#795548;
// 	--deep_orange_color:#FF7043;
// 	--light_blue_color:#82B1FF;
// 	--cyan_color:#00BCD4;
// 	--orange_color:#ff7f50;
// 	--aqua_color:#12cad1;
// 	--blue_color:#3a84cd;
// 	/*color end*/

// 	/*gradient bg color start*/
// 	--yellow_gradient_bg_color  : linear-gradient(40deg, #ffd86f, #fc6262);
// 	--purple_gradient_bg_color  : linear-gradient(40deg, #ff6ec4, #7873f5);
// 	--blue_gradient_bg_color    : linear-gradient(40deg, #45cafc, #303f9f);
// 	--aqua_gradient_bg_color    : linear-gradient(40deg, #2096ff, #05ffa3);
// 	--success_gradient_bg_color : linear-gradient(40deg, #43e97b, #38f9d7);
// 	--danger_gradient_bg_color  : linear-gradient(40deg, #ff0844, #ffb199);
// 	--warning_gradient_bg_color : linear-gradient(40deg, #f83600, #f9d423);
// 	/*gradient bg color end*/

// 	/*gradient bg color for hover start*/
// 	--hover_yellow_gradient_bg_color  : linear-gradient(40deg, #ffd86f22, #fc626222);
// 	--hover_purple_gradient_bg_color  : linear-gradient(40deg, #ff6ec422, #7873f522);
// 	--hover_blue_gradient_bg_color    : linear-gradient(40deg, #45cafc22, #303f9f22);
// 	--hover_aqua_gradient_bg_color    : linear-gradient(40deg, #2096ff22, #05ffa322);
// 	--hover_success_gradient_bg_color : linear-gradient(40deg, #43e97b22, #38f9d722);
// 	--hover_danger_gradient_bg_color  : linear-gradient(40deg, #ff084422, #ffb19922);
// 	--hover_warning_gradient_bg_color : linear-gradient(40deg, #f8360022, #f9d42322);
// 	/*gradient bg color for hover end*/
// }

$brand: ( // 7 brabd name
	"default": #2bbbad, //
	"primary": #1b66ca, //
	"secondary": #1f4287, //
	"success": #53A653, //
	"info": #33b5e5, //
	"warning": #ff9b05, //
	"danger": #f5365c, //
) !default;
// social color
$social: ( // 9 social name
	"facebook": #3b5999, //
	"youtube": #cd201f, //
	"twitter": #55acee, //
	"linkedin": #0077b5, //
	"skype": #00aff0, //
	"dropbox": #007ee5, //
	"tumblr": #34465d, //
	"pinterest": #bd081c, //
	"snapchat": #ffb300 //
) !default;
// fave color

$fave: ( // 15 fave name
	"green": #17975b, // 
	"purple": #6c4fce, // 
	"indigo": #5469e0, //
	"teal": #2ABBA7, //
	"cyan": #17a2b8, //
	"orange": #ff9800, //
	"deep_orange": #ff7043, // 
	"red": #ff1f5a, //
	"pink": #e83e8c, // 
	"blue": #1a76ee, //
	"light_blue": #82b1ff, //
	"yellow": #faee1c, //
	"brown": #c03546, //
	"tomato": #f16d49,//
) !default;
$all_colors: (brand: $brand, social: $social, fave: $fave) !default;
$general_colors: (brand: $brand, fave: $fave) !default;
$gray: ( // 
	"g0": #F5F6F7, //
	"g1": #F2F3F5, //
	"g2": #EBEDF0, //
	"g3": #DADDE1, //
	"g4": #CCD0D5, //
	"g5": #BEC3C9, //
	"g6": #8D949E, //
	"g7": #606770, //
	"g8": #444950, //
	"g9": #303338, //
	"g10": #1C1E21 //
) !default; 
// all breakpoints
$breakpoints: ( //
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px
) !default; //

$round: ( //
	'r1': rem(3), //
	'r2': rem(5), //
	'r3': rem(8), //
	'r4': rem(10), //
	'r5': rem(12), //
	'r6': rem(15), //
	'r7': rem(18), //
	'r8': rem(20), //
	'r9': rem(25), //
	'r10': 50% //
) !default;
$border: ( //
	'0': rem(0), //
	'1': rem(1), //
	'2': rem(2), //
	'3': rem(3), //
	'4': rem(4), //
	'5': rem(5), //
	'6': rem(6), //
	'7': rem(7), //
	'8': rem(8), //
	'9': rem(9), //
	'10': rem(10) //
) !default;
$util: (
	'0': 0, //
	'1': 5, //
	'2': 10, //
	'3': 15, //
	'4': 20, //
	'5': 25, //
	'6': 30, //
	'7': 35, //
	'8': 40, //
	'9': 45, //
	'10': 50, //
) !default;
$size_mp: ( //
	'0': rem(0), //
	'1': rem(4), //
	'2': rem(8), //
	'3': rem(16), //
	'4': rem(24), //
	'5': rem(48), //
) !default;
$transition: all 0.3s ease-in-out;
$trans1: all 0.1s ease-in-out;
$trans2: all 0.2s ease-in-out;
$trans3: all 0.3s ease-in-out;
$trans4: all 0.4s ease-in-out;
$trans5: all 0.5s ease-in-out;

$sdw1: 0 rem(2) rem(4) rgba(0,0,0,.075)!important;
$sdw2: 0 rem(2) rem(4) 0 rgba(0,0,0,0.16),0 rem(2) rem(10) 0 rgba(0,0,0,0.12)!important;
$sdw3: 0 rem(8) rem(16) rgba(0,0,0,.15)!important;
$sdw4: 0 rem(16) rem(48) rgba(0,0,0,.175)!important;
$sdw5: 0 rem(4) rem(6) 0 rgba(85, 85, 85, 0.08), 0 rem(1) rem(20) 0 rgba(0, 0, 0, 0.07), rem(0) rem(1) rem(11) rem(0) rgba(0, 0, 0, 0.07);


$shadow_basic: 0 2px 5px rgba(0, 0, 0, 0.16),
0 2px 10px rgba(0, 0, 0, 0.12);
$shadow: 0 8px 16px rgba(0, 0, 0, .15) !important;
$shadow_sm: 0 2px 4px rgba(0, 0, 0, .075) !important;
$shadow_md: 0 3px 28px 0 rgba(58, 59, 69, .15) !important;
$shadow_lg: 0 16px 48px rgba(0, 0, 0, .175) !important;
$shadow_1: 0 4px 6px 0 rgba(85, 85, 85, 0.08),
0 1px 20px 0 rgba(0, 0, 0, 0.07),
0px 1px 11px 0px rgba(0, 0, 0, 0.07);
$shadow_2: 0px 20px 20px rgba(126, 142, 177, 0.12);
$shadow_3: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);

 