

:root {
    --aside: 250px;
    --aside_m: -250px;
    --top_nav_height: 60px;
    --transition: all 0.3s ease-in-out; 

    // colors of light them
    --scrollbar: linear-gradient(#2755df, #08cc98);
    --light_gray: #F2F2F2;
    --light_gray_active: #EAF3FF;
    --dark1: #050505;
    --aside_bg: #fff;
    --dark: #39444d;
    --gray: #f5f6f7;
    --fave: #3345a9;
}

$transition: all 0.2s ease-in-out;

/*
 *  STYLE 7
 */

::-webkit-scrollbar-track {
     background-color: #F5F5F5;
}

::-webkit-scrollbar {
     width: 8px;
     background-color: #F5F5F5;
}
 
::-webkit-scrollbar-thumb {
    background: #adb5bd;
    //  background-image: -webkit-gradient(linear,
    //                                     left bottom,
    //                                     left top,
    //                                     color-stop(0.44, rgb(122,153,217)),
    //                                     color-stop(0.72, rgb(73,125,189)),
    //                                     color-stop(0.86, rgb(28,58,148)));
}


::-webkit-scrollbar-thumb:hover {
    background: #bac2c9;
}
::-webkit-scrollbar-thumb:active {
    background: #a1b2c3;
}
.DropDownSlide {
    animation-name: DropDownSlide;
    animation-duration: .3s;
    animation-fill-mode: both;
}

@keyframes DropDownSlide {
    100%{
        transform:translateY(0)
    }
    0%{
        transform:translateY(10px)
    }
}
// nl css some
@import "mixin/variable";
@import "mixin/dropdown";
// @import "mixin/reboot";
// @import "mixin/function";
// @import "mixin/mixin"; 
// @import "mixin/greed";
// @import "mixin/panel";
// @import "mixin/form";
// @import "mixin/button";
// @import "mixin/alert";
// @import "mixin/table";
// @import "mixin/preloder";
// @import "mixin/bandage";
// @import "mixin/popup";
// @import "mixin/colors";
// @import "mixin/util";

@import "components/aside";
@import "components/content";
@import "components/top_nav";
// @import "deshboard/deshboard";
@import "components/nl_modal";

// /* ------------------------------------ */

/////////////////////////////////////////////
/////////////////////////////////////////////
/////////////////////////////////////////////
/////////////////////////////////////////////
/////////////////////////////////////////////

.main_wrap {
    display: flex;
    background: #EEF1F9;
    min-width: 100%;
    min-height: 100vh;
}

.content_header {
    width: 100%;
    margin-bottom: 20px;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

// .bg-fave {
//     background: #3345a9;
//     color: #ffffff;

//     &.btn:hover {
//         color: #ffffff !important;
//     }
// }

// .bg-fave-gradient {
//     background: linear-gradient(90deg, #3345a9, #673ab7);
//     color: #ffffff;

//     &.btn:hover {
//         color: #ffffff !important;
//     }
// }

// .check {
//     display: inline-flex;
//     justify-content: center;
//     align-items: center;
//     width: 15px;
//     height: 15px;
//     background: var(--success);
//     border-radius: 50%;
// }

// .check.danger {
//     background: var(--danger);
// }

// .check::before {
//     content: "";
//     display: block;
//     width: 8px;
//     height: 4px;
//     border-left: 1px solid #ffffff;
//     border-bottom: 1px solid #ffffff;
//     transform: rotate(-45deg);
//     margin-top: -1px;
// }

// %clear {
//     content: "";
//     display: block;
//     clear: both;
// }




// /*panel nav start*/
// .panel_nav {
//     width: 100%;
//     min-height: 35px;
//     margin-bottom: 20px;

//     & .panel_nav_grup {
//         // background: linear-gradient(80deg, $pink, darken($pink, 15));
//         background: var(--fave);
//         box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.12);
//         display: flex;
//         flex-wrap: wrap;
//         height: 35px;
//         float: left;
//         padding: 0 10px;
//         border-radius: 20px;

//         & li a {
//             height: 35px;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             color: #ffffff;
//             padding: 0 10px;
//             transition: $transition;

//             &:hover,
//             &:focus,
//             &.active {
//                 background: #fcfcfc;
//                 color: var(--fave);
//             }
//         }

//         & .nl_link_dropdown {
//             a {
//                 color: #333;
//                 justify-content: left;
//                 padding: 20px 10px;

//                 &:hover {
//                     padding-left: 15px;
//                 }
//             }
//         }
//     }
// }

// /*panel nav end*/

// .nl_card {
//     display: block;
//     margin-bottom: 25px;
//     box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
//     background: #ffffff;
// }

// .nl_card .header * {
//     margin: 0;
// }

// .nl_card .header {
//     padding: 16px;
//     border-bottom: 1px solid #dddddd;
// }

// .nl_card .body {
//     padding: 16px;
// }

// .student_list {
//     & .item {
//         display: flex;
//         align-items: center;
//         padding: 10px;
//         border-bottom: 1px solid #ccc;

//         & .profile_img {
//             width: 80px;
//             display: flex;
//             justify-content: center;
//             align-items: center;

//             & img {
//                 width: 60px;
//                 height: 60px;
//                 border-radius: 50%;
//                 object-fit: cover;
//                 box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
//             }
//         }

//         & .name {
//             & * {
//                 margin: 0;
//             }

//             & h3 {
//                 font-size: 22px;
//             }

//             & .keyw {
//                 border: 1px solid transparentize(#0d6efd, 0.5);
//                 padding: 2px 8px;
//                 margin-top: 3px;
//                 line-height: 1.3;
//                 display: inline-block;
//                 border-radius: 3px;
//                 background: transparentize(#0d6efd, 0.8);
//             }
//         }
//     }
// }

/////////////////////////
/////////////////////////
/////////////////////////
/////////////////////////
/////////////////////////
/////////////////////////
/////////////////////////
/////////////////////////
/////////////////////////
/////////////////////////
/////////////////////////
/////////////////////////
/////////////////////////
/////////////////////////
/////////////////////////
/////////////////////////
/////////////////////////
// .deshboard_wrap {
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     grid-gap: 15px;
//     margin-bottom: 20px;
// }
// @media (max-width: 1100px) {
//     .deshboard_wrap {
//         grid-template-columns: repeat(2, 1fr);
//     }
// }
// @media (max-width: 768px) {
//     .deshboard_wrap {
//         grid-template-columns: repeat(2, 1fr);
//     }
// }
// @media (max-width: 450px) {
//     .deshboard_wrap {
//         grid-template-columns: repeat(1, 1fr);
//     }
// }
// .deshboard_wrap .card-body * {
//     color: #ffffff;
// }

// .sell_row, .order_row {
//     transition: all 0.2s ease-in-out;
// }
// .order_row:hover,
// .sell_row:hover {
//     background: #eee;
//     cursor: pointer;
// }
// .check_op {
//     display: flex;
//     align-items: center;
// }
// .check_op span {
//     margin-right: 10px;
// }